.header {
  align-items: center;
}

.nav {
  display: flex;

  & li {
    padding-left: 20px;
  }
}

.link {
  transition: all 0.5s linear;

  font-size: 15px;

  &:hover {
    transform: scale(1.2);

    color: var(--hoverLink);
  }
}
