* {
  box-sizing: border-box;

  list-style: none;
}

html,
body {
  margin: 0;
  padding: 0;

  color: black;
  background: white;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

a {
  text-decoration: none;

  color: inherit;
}

ul {
  padding-inline-start: 0;

  margin: 0;
}

:root {
  --black: black;
  --white: #fff;
  --hoverLink: rgb(228, 164, 86);
  --hover: #1976d2;
}
